<div class="jumbotron">
    <h1>Currency To Words Converter</h1>
    <p class="lead">This service will help you to convert currency represented in numbers into words.</p>
    <p>To use the service, open <a href="https://localhost:44331/NumberToWords/Convert/99,9">this link</a>. </p>
</div>
